<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando: <strong>{{query}}</strong></p>
    {% if articulo %}
        <p>Articulos encontrados: {{articulo|length}} articulos</p>
        <table border="1" style="border-collapse: collapse;">
            <tr>
                <th>Nombre del producto</th>
                <th>Seccion del producto</th>
                <th>Precio del producto</th>
            </tr>
            <tr>
                {% for i in articulo %}
                    <td>{{i.nombre}} </td>
                    <td>{{i.seccion}}</td>
                    <td>{{i.precio}}</td>
                {% endfor %}
        </tr>
        </table>
    {% else %}
        <p>Articulo no encontrado</p>
    {% endif %}
</body>
</html>